/* .expense-table {
  padding: 20px;
}

.search-bar {
  width: 10%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filters button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.all-btn {
  background: #5ea3cc;
  color: white;
}

.approved-btn {
  background: #b5e5b5;
}

.pending-btn {
  background: #ffeb99;
}

.rejected-btn {
  background: #ff9999;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.right{
  color: green;
 margin-left: 150px;
}
 */

 .expense-container {
  padding: 20px;
  margin-left: auto; /* Adjust for sidebar */
  
}

/* Search Bar */
.search-bar {

  padding: 10px 10px;
  border: 2px solid transparent; /* Default transparent border */
  cursor: pointer;
  border-radius: 25px; /* Curved button */
  font-size: 14px;
  font-weight: bold;
  min-width: 80px;
  background-color: #dbe7fd;
  border-radius: 5px;
  margin-bottom: 15px;
  display: block;
  text-align:center;
  transition: all 0.3s ease;

}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 270px;

}
.search-wrapper input{
 
  border: 2px solid transparent; /* Default transparent border */
  border-radius: 17px; /* Curved button */
  width: 40%;  /* Increases the width */
}

.search-icon {
  position: absolute;
  left: 10px;
  color: gray;
  font-size: 16px;
  margin-top: -12px;
  margin-left: 10px; 
}

/* Filter Buttons */
.filters {
  display: flex;
  gap: 10px;
  margin-top: -78px;
  margin-left: 372px;
  border-radius: 25px; 
}

.filters button {
  padding: 10px 20px;
  border: 2px solid transparent; /* Default transparent border */
  cursor: pointer;
  border-radius: 17px; /* Curved button */
  font-size: 14px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  transition: all 0.3s ease;
  width: 125px;  /* Increases the width */

}

.all-btn {
  background: #479aca;
  margin-left: 500px;
  padding: 10px;
  
}

.approved-btn {
 background: #dcf7dc;
 color: black;
  margin-left: 10px;
  padding: 10px;
}

.pending-btn {
  background: #f8e28b;
  color: black;
  margin-left: 10px;
  padding: 10px;
}

.rejected-btn {
  background: #f9c3c3;
  color: black;
  margin-left: 10px;
  padding: 10px;
}

 Table
.expense-table {
  background: white;
  border-radius: 8px;
  padding: 10ipx;
  margin-left: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  

}

.expense-table table {
  width: 100%;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 20px;
  border-bottom: 2px solid #ddd;
  text-align: left;
  font-weight: bold;
}


.expense-table th {
  font-weight: lighter;
} 