@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');


body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: #fdf8ef;
  color: #333;
}


.sidebar {  
  width: 220px;
  height: 100vh;
  background: #c98c46;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  top: 0%;
  transition: all 0.3s ease-in-out;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  left: 10px;
  
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 35px;

  
}




.menu li {
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.menu li span{
  margin-left: 10px;
  

}
.menu li span:hover,
menu li span:active
 {
  background: #deefff;
  color: black;
  transform: translateX(5px);
  
   
}

.logoutbutton {
  margin-top: auto;
  
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff4d4d;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
  gap: 8px;
}

.logout-btn:hover {
  background: #cc0000;
  transform: scale(1.05);
} 



.expense-pro {
  font-family: 'Dancing Script', cursive;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
  .sidebar {
      width: 200px; 
      padding: 15px;
  }
  
  .menu li a, .bottom-menu li a {
      font-size: 16px;
  }
}


@media screen and (max-width: 676px) {
  .sidebar {
      width: 0; 
      transform: translateX(-100%);
  }

  .sidebar.open {
      width: 200px;
      transform: translateX(0);
  }

  .menu li a, .bottom-menu li a {
      font-size: 14px;
  }
}


.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #c07f2f;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1001;
  cursor: pointer;  
}

@media screen and (max-width: 576px) {
  .hamburger {
      display: block;
  }
} 

